body {
    background-color: rgb(240, 222, 193);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    color: rgb(63, 41, 13);

}

h2 {
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
    color: rgb(129, 1, 1);
}

h3 {
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    color: rgb(129, 1, 1);
}

.location {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    float: left;

}

th,  td {
    padding: 10px;
    margin: 1px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(63, 41, 13);;
    color: rgb(247, 236, 220);
}

#datatable{
    font-family: Verdana;
}

footer{
    clear: both;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    width: 100px;
}